<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargos</title>
</head>
<body>
    <div>
        <h1>Cargos</h1>
        <button id="bt-create-role">Atribuir novo cargo</button>
        <div id="roles-container">
            <table id="tb-roles">
                <tr>
                    <th>Cargo</th>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </table>
        </div>
    </div>

    <script src="./scripts/constants.js"></script>
    <script src="./scripts/roles.js"></script>
</body>
</html>